@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-main {
    background: url("../../public/images/pexels-aleksandar-pasaric-2339009_resized.jpg") no-repeat;
    background-attachment: fixed;
}
.bg-header {
    background: rgba(0, 0, 0, 0.45);    
}

.bg-categories {
    background: url("../../public/images/pexels-eva-elijas-5765782.jpg") no-repeat;
    background-attachment: fixed;
}
